# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

Bin/
Bin-Obj/
.vs/

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.lua.bak
*.log
*.log.bak
*.bak
premake5.lua
*.DS_STORE
*.xcodeproj
*.xcworkspace
Prototype/imgui.ini
premake5.lua
