# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Executables
*.exe
*.out
*.app

Bin/
Bin-Obj/
.vs/

*.sc.vk
*.sc.gles
*.sc.gl
*.sc.mt
*.sc.dx

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.lua.bak
*.log
*.log.bak
*.bak
*.DS_STORE
*.xcodeproj
*.xcworkspace
Prototype/imgui.ini
/premake5.lua
enc_temp_folder/

Makefile
node_modules/
.idea/

Prototype/assets/cubemap.ktx
*.ktx
*.make
Prototype/shaders/timestamp.txt
*.obj
*.pdb
Prototype/shaders/output.txt
*.rdc
game/shaders/output.txt
game/shaders/timestamp.txt
*.hlsl
game/assets/timestamp.txt
/.VSCodeCounter
*.opt
