# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Executables
*.exe
*.out
*.app

Bin/
Bin-Obj/
.vs/

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.lua.bak
*.log
*.log.bak
*.bak
*.DS_STORE
*.xcodeproj
*.xcworkspace
Prototype/imgui.ini
/premake5.lua
enc_temp_folder/
.vscode/
Makefile

Prototype/assets/cubemap.ktx
*.ktx
*.make
